#Supabase DB https://supabase.com/dashboard/project/<YOUR_PROJECT>?showConnect=true

# Dummy Supabase settings (not real credentials)
NEXT_PUBLIC_SUPABASE_URL=https://ixwqkqdxdcdg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJnR5cCI6IkpXVCJ9.eyJpInJlZiI6Iml4d3RwZGhrdHV1anFrcXhkY2RnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzcwMTkzMDgsImV4cCI6MjA1MjU5NTMwOH0.97u2CUz00Opwxw4JonaCnBkVCkOfAeeV831g3uyXeFs
DATABASE_URL=postgresql://postduujqkqnkkissu1er.supabase.com:6543/postgres

#AI API credentials
# ---------------------------------------------------------

#LLMS
OPENAI_API_KEY="sk---------"
#llama
LLAMA_CLOUD_API_KEY="your-api-key-here"

# ---------------------------------------------------------
#Belloww are the environment variables for other features (You can leave them empty if you don't need them)

#CSC (S3 Storage Connection) https://docs.csc.fi/cloud/pouta/  https://docs.csc.fi/support/faq/how-to-get-Allas-s3-credentials/
ALLAS_ACCESS_KEY_ID="your-access-key-id-here"
ALLAS_SECRET_ACCESS_KEY="your-secret-access-key-here"
ALLAS_ENDPOINT_URL="endpoint-url-here" # e.g. https://a3s.fi
ALLAS_BUCKET_NAME="s3-bucket-name-here"


#AUTH (For creating new users)
SUPABASE_SERVICE_ROLE_KEY="" # Can find in Supabase dashboard under Settings > Data API -> API Settings -> Project API Keys
ADMIN_USER_EMAIL="username-for-new-user"
ADMIN_USER_PASSWORD="password-for-new-user"

#Email (for sennding invite links)
NEXT_PUBLIC_APP_URL="http://localhost:3000" # URL of your app
RESEND_API_KEY="your-resend-api-key-here"
EMAIL_FROM="your-email-address-here"

